BODY {
  font-family: helvetica, sans-serif;
}

H1 {
  font-size: large;
}

DIV.block {
  padding-left: 2em;
}

DIV.footer {
  font-size: small;
  padding-top: 1em;
}

TABLE.downloads TR TH {
  font-weight: normal;
  text-align: left;
  padding-right: 0.5em;
  padding-left: 2em;
}
